<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0">
  <frontendThemes>
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/MyTheme1/App_Themes/MyTheme1" name="MyTheme1" />
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/testTheme/App_Themes/testTheme" name="testTheme" />
  </frontendThemes>
</appearanceConfig>