<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0">
	<notifications newPostNotificationTemplateId="f85caede-6900-6929-95f1-ff00002e8771" newThreadNotificationTemplateId="f95caede-6900-6929-95f1-ff00002e8771" />
</forumsConfig>