<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0" projectName="TestProject" dateCreated="2014-05-06 10:57:12Z">
	<defaultSite id="e6530b76-b7ce-4e0f-8488-86f1a16fbfc1" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>